/*
Charity Detail Page
*/

.dogBG {

    height: 20vh;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    filter: blur(0.2rem);
}

.mainShape {
    position: absolute;
    z-index: 2;
    margin-top: 10rem;
    position: relative;
    box-shadow: 6px 0 21px -3px rgba(86, 93, 111, 0.12);
    border-radius: 16px;
    background: white;
    width: 80rem;
    height: 1380px;
}

.mask {
    position: absolute;
    top: -100px;
    right: calc(50% - 100px);
    width: 200px;
    height: 200px;
    border-radius: 50% 50% 0 0;
    background-color: white;
    align-content: center;
    padding: 6px;
}

.divider {
    height: 2px;
    background-color: lightgray;
    border-radius: 16px;
    width: 40rem;
    margin: 2rem auto ;
    align-content: center;

}

.charity {
    text-align: center;
    margin: 20px;
}

.Charity-Paragraph {
    text-align: center;
    align-content: center;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 1.5;
    width: 50rem;
    margin-bottom: 4rem;

}

.charity-title {
    padding-top: 140px;
    margin-bottom: 0;
    align-content: center;
    font-weight: bold;
    font-size: 48px;
    color: #131415;
    letter-spacing: 0.43px;
    text-align: center;
}

.charity-location {
    align-content: center;
    font-size: 1.5rem;
    color: #333333;
}

.charity-summary {
    text-align: center;
    align-content: center;
    margin: 1rem auto;
    font-size: 1.2rem;
    width: 50rem;
}

.clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.MoneyContainer {
    margin: 2rem auto 0 0;

}


#totalizer {
    font-size: 4rem;
    display: inline;
    margin-right: 1rem;
}

.money {
    display: inline;
    font-size: 2rem;
}


@-webkit-keyframes stripe-slide {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  @keyframes stripe-slide {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }


  .btn {
    overflow: visible;
    margin: 2rem auto 4rem auto;;
    padding: 0;
    border: 0;
    background: transparent;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    -moz-user-select: text;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 16px 36px 22px;
    background-color: #fff;
    color: #666;
    border: 2px solid #666;
    border-radius: 6px;
    margin-bottom: 16px;
    transition: all .5s ease;
  }
  .btn:-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  .btn--stripe {
    overflow: hidden;
    position: relative;
  }
  .btn--stripe:after {
    content: '';
    display: block;
    height: 7px;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 1px solid #666;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px;
  }
  .btn--stripe:hover {
    background-color: #666;
    color: #fff;
    border-color: #000;
  }
  .btn--stripe:hover:after {
    background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
    border-top: 1px solid #000;
    -webkit-animation: stripe-slide 12s infinite linear forwards;
            animation: stripe-slide 12s infinite linear forwards;
  }
  .btn--large {
    width: 50%;
  }
  .btn--radius {
    border-radius: 36px;
  }

  .BIReport {
      margin: 0 auto;
  }

  .NZMap {
      margin: 0 auto;
      border-radius: 25px;
      border: solid 5px #ffaaaa;
      box-shadow: 5px 10px 24px rgba(255,170,170, 0.4);
  }
