/*
Main Page Skeleton
*/


html {
    font-family: 'Quicksand', sans-serif !important;
    background-color: #FFF6F6;
}

.Container {
    width: 80rem;
    margin: 0 auto;
}


/*
Header
*/

header {
    height: 4rem;
    width: 100%;
}

.Logo {
    float: left;
    margin: 0.5rem 0 0 0.5rem;
    height: 70%;
}

.MenuItem {
    float:right;
    display: block;
    margin-right: 4rem;
    font-weight: bold;
    font-size: 1.2rem;
}
.LastItem {
    margin-right: 2rem;
}
/*
Hero Component
*/

.HeroContainer {
    margin: 5rem 0 2rem 0;
    width: 80rem;
    height: 35rem;
    background: #FFDBDB;
    border-radius: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.HeroH1 {

    font-size: 96px;
    color: #131415;
    letter-spacing: -2.36px;
    margin: 4rem 0 1rem 0;
    font-weight: 700;
}

.HeroP {
    margin-top: 0rem;

    font-size: 32px;
    color: #131415;
    letter-spacing: 0.21px;
    line-height: 40px;
}

.HeroContent {
    padding: 0rem 0 0 5rem;
    padding-top: 2rem;
}

.HeroImage {
    width: 100%;
    float: right;
    padding-right: 2rem;
    padding-top: 5rem;
    object-position: center;
    object-fit: center;
}

.HeroLink {
    color: green;
    font-weight: bold;
    font-size: 32px;
}

/*
Grid List Component
*/

.CardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 5rem;
}

.CardStyle {
 border-radius: 12px;
}

.CardImage {
    border-radius: 12px 12px 0 0;
    object-position: center;
}

.CardTitle {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: bold;
    font-size: 2rem;
}

.CardSubtitle {
    font-size: 1.4rem;
}

/*
Search Component
*/
.SearchContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 5rem;
    width: 78rem;
    background-color: white;
    box-shadow: 2px 2px 24px 0 rgba(166,166,166,0.50);
    border-radius: 24px;
    padding: 1rem;
}

/*
Profile Component
*/

.mainShape {
    margin-top: 10rem;
    position: relative;
    box-shadow: 6px 0 21px -3px rgba(86,93,111,0.12);
    border-radius: 16px;
    background: white;
    width: 80rem;
    height: 1200px;
  }



  .mask {
    position: absolute;
    top:-100px;
    right: calc(50% - 100px);
    width:200px;
    height:200px;
    border-radius: 50% 50% 0 0;
    background-color:white;
  }


.ProductContainer {
    position: relative;
    height: 10rem;
    margin: 1rem 0;
    border-radius: 12px;
    border: 5px solid transparent;
}

.ProductContainer.selected {
    border: 5px solid pink;
    background-color: #FFF4F4;
}

.ProductContainer:Hover {
    border: 5px solid pink;
}

.ProductImageContainer {
    position: absolute;
    margin: 0;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 12px;
    border: none;
}
.ProductImage {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.ProductContentContainer {
    text-align: left;
    position: absolute;
    left:10rem;
    width: 60rem;
    height: 10rem;

}

.ProductPriceContainer {

}

.ProductSelected {
    font-weight: bold;
    font-size: 18px;
    color: pink;
}

.PriceContainer {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3.4rem;
    margin-right: 2rem;
}

  .TitleContainer {
      margin-top: 2.5rem;
      margin-left: 1.5rem;
      margin-bottom: 0;
    font-size: 2rem;
    font-weight: bold;
  }
  .SubtitleContainer{
      font-size: 1.2rem;
      margin-left: 1.5rem;
      margin-top: 0.5rem;
  }

.BuyItemImage {
    float: left;
}

  .BuyItemContainer {
      width: 960px;
      float: left;
      height: 10rem;
         margin: 1rem 0 0 2rem;
  }

  .PriceContainer {
      float: right;
  }


